:root{
    --bckgrd_menu:#000000;
    --item_menu:#fff;
    --item_menu_hov:#faa;
}

body{
    margin:0;
}

.navbar-fixed{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



